---
import Base from "~/layouts/Base.astro";

const item_files = await Astro.glob(`../../public/imgs/items/*`)
const painting_files = await Astro.glob(`../../public/imgs/paintings/*`)

const items = item_files.map(file => {
    return file.default.split('/').pop().split('.')[0]
});

const paintings = painting_files.map(file => {
    return file.default.split('/').pop().split('.')[0]
});
---

<Base>
  <div class="flex flex-col justify-center items-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-5 px-2 markdown">
    
    <!-- Header Section -->
    <h4 class="text-shadow-md text-water-savanna-plateau text-center" style="font-family: 'Minecraft Evenings';">
        Welcome to Jack's Epic Birthday Adventure!
    </h4>
    
    <!-- Image Section -->
    <div class="w-[90%] sm:w-[70%] md:w-[60%] lg:w-[50%] mx-auto">
      <img src="/imgs/battle.jpg" alt="Jack's birthday adventure" class="w-full h-auto rounded-lg"/>
    </div>
    
    <!-- Intro Section -->
    <h6 class="indent-0 text-gray text-center">
      Greetings, adventurers! You’re invited to join us in celebrating Jack’s 5th birthday. Gear up, grab your pickaxes, and prepare for an unforgettable journey into Jack’s custom Minecraft world.
    </h6>
    
    <!-- Adventure Section -->
    <h3 class="text-center underline text-4xl text-water-savanna-plateau">The Adventure Awaits</h3>

    <!-- Event Details Table -->
    <div class="overflow-x-auto w-full">
      <table class="table w-full md:w-[90%] lg:w-[70%] mx-auto text-2xl sm:text-3xl">
          <thead>
              <tr>
                  <!-- Placeholder for potential headers -->
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="font-bold text-right pr-5">When</td>
                  <td>
                    Saturday, January 18th, 2025<br/>
                    12:00-2:00PM
                  </td>
              </tr>
              <tr>
                  <td class="font-bold text-right pr-5">Where</td>
                  <td>
                      <a class="text-link" href="https://www.huntersville.ninjanation.com/" target="_blank">
                        Ninja Nation
                      </a><br/>
                      14120 Statesville Rd<br/>
                      Huntersville, NC 28078
                  </td>
              </tr>
              <tr>
                  <td class="font-bold text-right pr-5">What</td>
                  <td>Pizza and Ninja Obstacle Courses</td>
              </tr>
          </tbody>
      </table>
    </div>

    <!-- Prepare Section -->
    <h3 class="text-center underline text-4xl text-water-savanna-plateau mt-8">Prepare for Your Journey</h3>
    <ul class="list-none text-white text-xl md:text-2xl mt-5 space-y-3">
        <li class="flex items-center gap-4">
            <div class="h-[48px] w-[48px] bg-item-book-enchanted bg-contain bg-no-repeat"></div>
            <span>Don’t forget to fill out the <a class="text-link whitespace-nowrap" href="https://www.waiverking.com/print/36801" target="_blank">electronic waiver</a> before the event.</span>
        </li>
        <li class="flex items-center gap-4">
            <div class="h-[48px] w-[48px] bg-item-diamond-boots bg-contain bg-no-repeat"></div>
            Shoes are required for all adventurers to enter the obstacle courses.
        </li>
        <li class="flex items-center gap-4">
            <div class="h-[48px] w-[48px] bg-item-pumpkin-pie bg-contain bg-no-repeat"></div>
            Come hungry! Pizza and snacks will be provided to keep your energy up.
        </li>
        <li class="flex items-center gap-4">
            <div class="h-[48px] w-[48px] bg-item-map-filled bg-contain bg-no-repeat"></div>
            Please RSVP before January 11th!
        </li>
    </ul>
    

    <!-- Call to Action Button -->
    <a href="/docs" class="py-3 px-6 my-5 button text-shadow-lg text-2xl">
        RSVP NOW!
    </a>
  </div>
</Base>
