---
import Base from "~/layouts/Base.astro";
---

<Base>
  <div class="flex flex-col justify-center items-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-10 px-4 markdown">
    <h2 class="text-center underline text-4xl text-water-savanna-plateau" style="font-family: 'Minecraft Evenings';">RSVP INFO</h2>
    <h5 class="text-white text-xl text-center">Please fill out the form below to let us know how many adventurers will be joining.</h5>
    <p class="text-white text-xl text-left">
        <!-- <strong>NOTE:</strong> We have limited spots available for Adventurers. -->
    </p>
    <p class="text-gray text-xl text-left">
        <strong>NOTE:</strong> Kids 1-3 years old can play for free in the toddler section. <br/>
        If older siblngs would like to come and play we welcome them to join, <br/>
        but you'll need to pay seperately.
        Pricing can be found <a href="https://www.huntersville.ninjanation.com/pricing-and-rates">here</a>.
    </p>

    <form name="rsvp" method="POST" data-netlify="true" action="/thank-you" class="w-full max-w-lg bg-dark-75 p-6 rounded-lg">
      <div class="mb-6">
        <label for="parent-name" class="block text-white text-lg font-bold mb-2">Parent Name</label>
        <input type="text" id="parent-name" name="parent-name" placeholder="Your Name" required class="w-full p-3 rounded bg-gray-800 text-gray border border-gray-600 placeholder-gray-400" />
      </div>

      <div class="mb-6">
        <label for="child-name" class="block text-white text-lg font-bold mb-2">Adventurer</label>
        <input type="text" id="child-name" name="child-name" placeholder="Child's Name" required class="w-full p-3 rounded bg-gray-800 text-gray border border-gray-600 placeholder-gray-400" />
      </div>

      <div class="text-center">
        <button type="submit" class="py-3 px-6 button text-shadow-lg text-2xl">Submit</button>
      </div>
    </form>
  </div>
</Base>
