---
import Base from "~/layouts/Base.astro";
---

<Base>
  <div class="flex flex-col justify-center items-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-10 px-4 markdown">
    <h2 class="text-center underline text-4xl text-water-savanna-plateau">Thank You for Your RSVP!</h2>
    <p class="text-white text-xl text-center">We’re excited to have you join us for Jack's Epic Birthday Adventure!</p>
    <p class="text-white text-xl text-center">If you have any questions at all, feel free to contact Taylor at <strong>276.340.2279</strong>.</p>
  </div>
</Base>
